/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

.container{
  width: 95%;
  margin: 0 auto;
}

.cover{
  background-size: cover;
}

img{
  width: 100%;
}

#main{
  height: 120vh;
}

.white{
  color: #fff;
}

a{
  text-decoration: none;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
}

header ul li{
  padding: 14px 16px;
}

#main{
  margin-top: -150px;
}

.main-inner{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
}

h1{
  font-family: 'Nanum Brush Script', cursive;
}

.big{
  font-size: 4rem;
}

.btn{
  color: white;
  background-color: black;
  width: 200px;
  padding: 14px 16px;
  font-weight: bold;
  text-align: center;
}

.center{
  margin: 0 auto;
}

.logo{
  width: 200px;
}

.guns-top,
.guns-btm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10%;
}

.gun-box{
  width: 40%;
}

.text{
  margin-left: 10%;
}

.bigger{
  font-size: 2.5em;
}

.decor{
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid-item{
  width: 30%;
  height: 250px;
}

.inner{
  text-align: center;
  margin-top: 30%;
}

.artist-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.artists-box{
  width: 47%;
  background-color: #e4e4e4;
}

.short{
  height: 300px;
}

.tall{
  height: 400px;
  display: flex;
  flex-direction: row;
}

.tall-inner{
  width: 50%;
}

.tall-inner img{
  height: 100%;
}

.bio{
  padding-left: 5%;
}

.world{
  width: 75%;
  height: 100%;
  text-align: center;
  position: relative;
}

.btm{
  margin-top: 30%;
}

#social{
	padding-top: 5%;
	padding-bottom: 5%;
}

#social h1{
	text-align: center;
}

.social-grid{
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.social-big{
	height: 300px;
	width: 250px;
	border-right: 1px solid white;

}

.social-small{
	height:250px;
	width: 250px;
	border-right: 1px solid white;
}

.social-smaller{
	height: 200px;
	width: 250px;
}

.soc{
	width: 100px;
}

.icons{
	text-align: center;
	padding: 2%;
	margin-top: 4%;
}

.news-grid{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.news-box{
	width: 50%;
	background-color: #e4e4e4;
	padding-top: 4%;

}

.news-box-inner{
	width: 90%;
	height: 94%;
	padding-left: 5%;
	margin-left: 10%;
}

.line{
	border-right: 1px solid gray;
}

input{
	height: 60px;
	width: 230px;
	vertical-align: bottom;
}

.fat{
	height: 60px;
	display: inline-block;
	width: 150px;
	padding-top: 5%;
	margin-left: -4px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

/* =================================
  Media Queries
==================================== */

@media (min-width: 789px) {


}
